<!DOCTYPE html>
<html ng-app="diapers_application">
	<head>
		<meta name="fragment" content="!">
		<!-- <script>window.prerenderReady=false;</script> -->
		<base href="/">
		<meta name="description" content="Find the best deals on diapers from the top online retailers.  We search major big box online retailers for the best deals in diapers.">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title></title>
		<!-- Styling -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/public/CSS/redesign.css">
		<!-- Angular Scripts -->
		<!-- <script src="/public/scripts/jquery.min.js"></script> 
		<script src="/public/scripts/jquery-ui.min.js"></script>
		<script src="/public/scripts/angular.min.js"></script>
		<script src="/public/scripts/bluebird.min.js"></script>
		<script src="/public/scripts/angular-route.js"></script>
		<script src="/public/scripts/angular-animate.min.js"></script>
		<script src="/public/scripts/angular-cookies.js"></script> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="//cdn.jsdelivr.net/bluebird/3.4.7/bluebird.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
		<!-- Angular Module/Controller/Data -->
		<script src="/public/angular/module/redesign_module.js"></script>
		<!-- Other Scripts -->
		<!-- Bing Pixel -->
		<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5587611"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript><img src="//bat.bing.com/action/0?ti=5587611&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>
		<!-- End Bing Pixel -->
		<!-- Google Pixel -->
		<meta name="google-site-verification" content="KCzbOK7iTVn0Ftye0TmImWWDcfmBFnp_RzIIYIkaPHY">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-89498157-1', 'auto');
		  ga('send', 'pageview');
		</script>
		<!-- End Google Pixel -->
		<!--Google Remarketing -->
		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 858740290;
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/858740290/?guid=ON&amp;script=0"/>
		</div>
		</noscript>
		<!-- Facebook Pixel Code -->
		<script>
		  !function(f,b,e,v,n,t,s)
		  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		  n.queue=[];t=b.createElement(e);t.async=!0;
		  t.src=v;s=b.getElementsByTagName(e)[0];
		  s.parentNode.insertBefore(t,s)}(window,document,'script',
		  'https://connect.facebook.net/en_US/fbevents.js');
		    fbq('init', '1124416331017901'); 
		    fbq('track', 'PageView');
		</script>
		<noscript>
		 <img height="1" width="1" 
		src="https://www.facebook.com/tr?id=1124416331017901&ev=PageView
		&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="/graphics/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/graphics/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/graphics/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/graphics/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/graphics/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/graphics/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/graphics/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/graphics/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/graphics/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/graphics/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/graphics/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/graphics/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/graphics/favicon-16x16.png">
		<link rel="manifest" href="/graphics/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/graphics/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<div ng-view></div>
	</body>
</html>