<div id="email_capture_container">
	<div id="email_capture_creative">
		<div id="email_capture_content_holder">
			<div id="email_capture_content">
				<div id="email_capture_logo"><img class="email_logo" src="/graphics/logo.png"></div>
				<div id="email_capture_click_data">Enter Your Email Address To Access Our Member's Only List Of The<br><span class="email_important">Best Deals In Diapers!</span></div>
				<form><div id="email_capture_button_container">
					<input id="email_form" type="text" name="email" placeholder="Enter Your Email..." ng-model="emailAddress.address">
				</div>
				<div id="email_capture_button_container">
					<a href="#"><div class="email_capture_button" ng-click="submit();">
						<div class="email_button error_message">Get The Best Deals</div>
					</div></a>
				</div></form>
				<div id="email_capture_button_container">
					<a href="#"><div class="email_capture_button bottom" ng-click="close();">
						<div class="email_button no_thanks">I'd Rather Pay More For Diapers</div>
					</div></a>
				</div>
			</div>
		</div>
	</div>
</div>