<div id="rd_navigation_container" class="rd_navigation_container_1">
	<div id="rd_navigation" ng-if="filter_selected">
		<a href="#"><div class="rd_centered rd_button_text rd_filter_reset" ng-click="filter();">Reset Filters</div></a>
	</div>

	<div id="rd_navigation">
		<a href="#"><div class="rd_centered rd_button_text rd_desktop_hide" ng-click="sub_menu_select('.rd_navigation_container_1, .rd_navigation_container_2');dropdown.menu=false;dropdown.size=true;">Sort By Size</div></a>
	</div>
	<div id="rd_navigation">
		<a href="#"><div class="rd_centered rd_button_text rd_desktop_hide" ng-click="sub_menu_select('.rd_navigation_container_1,.rd_navigation_container_3'); dropdown.menu=false;dropdown.brand=true;">Sort By Brand</div></a>
	</div>
	<div id="rd_navigation">
		<a href="/about"><div class="rd_centered rd_button_text rd_desktop_hide">About Us</div></a>
	</div>
	<div id="rd_navigation">
		<a href="mailto:hello@diapersdiapers.com"><div class="rd_centered rd_button_text rd_desktop_hide">Contact</div></a>
	</div>
	<div id="rd_navigation">
		<a href="http://blog.diapersdiapers.com/" target="_blank"><div class="rd_centered rd_button_text rd_desktop_hide">Our Blog</div></a>
	</div>
</div>
