<div id="rd_footer_holder">
	<div id="rd_content_full_width">
		<div class="rd_content_full_width_container">
			<h2>The Best Deals In Diapers.</h2>
		</div>
	</div>
	<div id="rd_footer_content_container" class="rd_content_blue rd_footer">
		<div id="rd_content_footer" class="rd_centered">
			<div class="rd_footer_content"><h2>Search By Diaper Brand</h2>
				<div class="rd_footer_links"><p>
				<a href='/brand/Pampers' ng-click="up_scroll();">Pampers Diapers</a></p>
				<a href='/brand/Huggies' ng-click="up_scroll();"><p>Huggies Diapers</p></a>
				<a href='/brand/Luvs' ng-click="up_scroll();"><p>Luvs Diapers</p></a>
				<p>Parent's Choice Diapers</p></div>
			</div>
			<div class="rd_footer_content"><h2>Search By Diaper Size</h2>
				<div class="rd_footer_links"><p>Size Newborn Diapers</p>
				<p>Size 1 Diapers</p>
				<p>Size 2 Diapers</p>
				<p>Size 3 Diapers</p>
				<p>Size 4 Diapers</p>
				<p>Size 5 Diapers</p>
				<p>Size 6 Diapers</p></div>
			</div>
			<div class="rd_footer_content"><h2>Search By Diaper Vender</h2>
				<div class="rd_footer_links"><p><a href="/guide/amazon_diaper_deals" ng-click="up_scroll();">Diapers From Amazon</a></p>
				<p>Diapers From Walmart</p></div>
			</div>
		</div>
		<div id="rd_footer_end" class="rd_footer_links">Icons provider by <a href="https://www.flaticon.com">FlatIcon</a> and used under a license bound by <a href="http://creativecommons.org/licenses/by/3.0/">CC 3.0</a>.<br>Creators include <a href="https://www.flaticon.com/authors/iconnice">Iconnice</a>, <a href="http://www.freepik.com">Freepik</a>, <a href="https://www.flaticon.com/authors/scott-de-jonge">Scott de Jonge</a>, <a href="https://www.flaticon.com/authors/google">Google</a>, <a href="https://www.flaticon.com/authors/alessio-atzeni">Alessio Atzeni</a>, and <a href="https://www.flaticon.com/authors/madebyoliver">Madebyoliver</a>.</div>
	</div>
</div>