<div id="rd_header">
	<div id="rd_header_desktop">
		<div id="rd_header_desktop_container">
			<a href="/"><div class="rd_header_desktop_item"><img id="rd_logo" src="/public/graphics/logo_mobile.png"></a></div>
			<a href='/'><div class="rd_header_desktop_item">See Diaper Deals</div></a>
			<a href="/about"><div class="rd_header_desktop_item">About Us</div></a>
			<a href="mailto:hello@diapersdiapers.com"><div class="rd_header_desktop_item">Contact</div></a>
			<a href="http://blog.diapersdiapers.com" target="_Blank"><div class="rd_header_desktop_item">Our Blog</div></a>
		</div>
	</div>
	<div id="rd_header_mobile">
		<a href="/"><img id="rd_logo" src="/public/graphics/logo_mobile.png"></a>
		<img id="rd_mobile_nav_options" ng-click="menu_open_close();" src="/public/graphics/mobile_menu.svg" alt="">
	</div>
</div>