<div id="rd_content_holder">
	<!-- Does Not Hide On Menu Dropdown -->
	<div class="rd_content_blue" id="rd_content_container">
		<div class="rd_centered rd_line_height" id="rd_content">
			<img class="rd_diaper_image" src="/public/graphics/diaper.svg">
			<h1>We Find The Best Deals On Diapers</h1>
			<p class="rd_line_height">Guys like <a href="/guide/amazon_diaper_deals">Amazon</a>, Walmart, and other internet giants are a new parent's best friend. Not only do they stock a greater selection of diapers, diaper wipes, and other baby neccesities than anyone else, their prices are almost impossible to beat! Add their great shipping policies and it's no wonder Amazon and Walmart of rewritting how people shop for diapers. We've taken internet shopping one step further and used Amazon and Walmart's own real-time inventory technology to find you the best deals on diapers from <a href="/brand/Pampers">Pampers</a>, <a href="/brand/Huggies">Huggies</a>, <a href="/brand/Luvs">Luvs</a>, Bambo Nature, & more.</p>
		</div>
	</div>
	<div id="rd_content_full_width">
		<div class="rd_content_full_width_container">
			<h2><a href="/brand/Pampers">Pampers</a>, <a href="/brand/Huggies">Huggies</a>, <a href="/brand/Luvs">Luvs</a>, & More.  We Find Hidden Diaper Deals Across The Internet.</h2>
		</div>
	</div>
	<div class="rd_left" id="rd_content_block">
		<div class="rd_content_block_table">
			<div class="rd_centered rd_line_height" id="rd_content">
				<h2>We're Treasure Seekers.</h2>
				<p>When most people mention <i>diapers</i> and <i>hidden treasures</i> within the same conversation, no one's thinking about finding hidden deals on diapers.  We on the other hand strongly enjoy a good deep dive into the hidden treasures of the diapers biz.<p>  
			</div>
		</div>
	</div>
	<div class="rd_right rd_content_blue rd_image" id="rd_content_block">
		<div class="rd_content_block_table">
			<div class="rd_centered rd_line_height" id="rd_content">
				<img class="rd_diaper_image_large" src="/public/graphics/treasure.svg">
			</div>
		</div>
	</div>
		<div id="rd_content_full_width">
		<div class="rd_content_full_width_container">
			<h2>Why Should I Use Your Site To Find Diapers?</h2>
		</div>
	</div>
	<div class="rd_left rd_content_blue rd_image" id="rd_content_block">
			<div class="rd_content_block_table">
				<div class="rd_centered rd_line_height" id="rd_content">
					<img class="rd_diaper_image_large" src="/public/graphics/help-round-button.svg">
				</div>
			</div>
	</div>
	<div class="rd_right" id="rd_content_block">
		<div class="rd_content_block_table">
			<div class="rd_centered rd_line_height" id="rd_content">
				<h2>Glad you asked.</h2>The US diaper business is massive.  Nearly $50 billion worth of diapers were purchased last year with 2 companies owning like 80% of the market.  We figured, if 80% of diapers are exactly the same no matter where you buy them... figure out a way to find the best priced option.  Here you go. 
			</div>
		</div>
	</div>
	<div id="rd_content_full_width">
		<div class="rd_content_full_width_container">
			<h2>Do We Make Money And If So, How?</h2>
		</div>
	</div>
	<div class="rd_left rd_image" id="rd_content_block">
		<div class="rd_content_block_table">
			<div class="rd_centered rd_line_height" id="rd_content">
				<img class="rd_diaper_image_large" src="/public/graphics/dollar-bill.svg">
			</div>
		</div>
	</div>
	<div class="rd_right rd_content_blue" id="rd_content_block">
		<div class="rd_content_block_table">
			<div class="rd_centered rd_line_height" id="rd_content">
				<h2>Well yes.  We have bills.</h2>Jokes aside, we like simple things. Our business is real simple. We're using technology to find you the best priced diapers and in return, our diaper selling partners give us a part of the sale.
			</div>
		</div>
	</div>
	<div id="rd_content_full_width">
	<div class="rd_content_full_width_container">
		<h2>Are You Connected With Diapers.com?</h2>
	</div>
	</div>
	<div class="rd_left rd_content_blue" id="rd_content_block">
		<div class="rd_content_block_table">
			<div class="rd_centered rd_line_height" id="rd_content">
				<h2>We Wish</h2><a href="https://www.diapers.com/?&tag=diapersforles-20">Diapers.com</a> was aquired by <a href="https://www.amazon.com/?&tag=diapersforles-20Amazon.com">Amazon.com</a> for $500 million in 2010. We would like to be aquired by Amazon.
			</div>
		</div>
	</div>
	<div class="rd_right rd_image" id="rd_content_block">
		<div class="rd_content_block_table">
			<div class="rd_centered rd_line_height" id="rd_content">
				<img class="rd_diaper_image_large" src="/public/graphics/handshake.svg">
			</div>
		</div>
	</div>
</div>