<div id="rd_email_capture_container">
	<div id="rd_email_capture_background">
		<div id="rd_email_form_container">
			<div id="rd_email_form_content">
				<!-- <div id="rd_email_logo"><img class="rd_email_fit" src="/public/graphics/logo.png"></div> -->
				<div id="rd_email_content">Access Our<br><span class="rd_email_important">Members Only<br>Diaper Deals</span></div>
				<form>
					<div id="rd_email_form">
						<input id="rd_email_form_email" type="text" name="email" placeholder="Enter Your Email..." ng-model="emailAddress.address">
					</div>
					<div id="rd_email_form_button">
						<a href="#"><div id="rd_email_capture_button" ng-click="submit();">
							<div class="rd_email_button rd_error_message">Get The Best Deals</div>
						</div></a>
					</div>
				</form>
				<div id="rd_email_form_button">
					<a href="#"><div id="rd_email_capture_close" ng-click="close();">
						<div class="rd_email_button rd_no_thanks">I'd Rather Pay More For Diapers</div>
					</div></a>
				</div>
			</div>
		</div>
	</div>
</div>
