@media screen and (max-width: 600px) {
    
    .smallText {
        font-size: .5em;
    }
    button{
        width: 150px;
        padding: 5 10 5 10;
        height: 30px;
    }
    .mainButton {
    	width:315px;
    }

}